[Unit]
Description=OpenShift Origin master
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/opt/openshift/openshift start master --config=/opt/openshift/openshift.local.config/master/master-config.yaml
User=openshift
Group=openshift

[Install]
WantedBy=multi-user.target