[init]
  defaultBranch = main

[fetch]
  prune = true

[pull]
  autostash = true
  rebase = true

[push]
  default = current

[merge]
  ff = only

[rebase]
  autosquash = true

[commit]
  gpgsign = true

[gpg]
  format = ssh

[user]
  signingkey = ~/.ssh/github.pub
  name = Alexander Czigler
  email = 3116043+alexanderczigler@users.noreply.github.com
