[init]
  defaultBranch = main

[fetch]
  prune = true
[pull]
  autostash = true
	rebase = true
[push]
  default = current

[merge]
  ff = only
[rebase]
  autosquash = true

# Load user specific settings.
[include]
  path = ~/.gitconfig.local
